.container {
    display: flex;
    max-width: 1110px;
    margin: auto;
    padding: 0px 15px;

    .img {
        width: 455px;
    }

    .info {
        max-width: 645px;
        padding-left: 30px;

        .info__title {
            width: 100%;
            letter-spacing: 0.1px;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            color: #363636;
            margin-bottom: 24px;
        }

        .info__author {
            font-weight: 700;
            letter-spacing: 0.1px;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 32px;
            color: #A7A7A7;
        }

        .info__button {
            width: 350px;
            height: 52px;
            background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
            border-radius: 30px;
            border: none;
            color: white;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.2px;
            line-height: 150%;
            text-transform: uppercase;
            margin-bottom: 62px;
        }

        .info__buttonBusy {
            background: #F9F9FA;
            border: 1px solid #BFC4C9;
            border-radius: 30px;
            color: #A7A7A7;
            width: 350px;
            height: 52px;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.2px;
            line-height: 150%;
            text-transform: uppercase;
            margin-bottom: 62px;
        }

        .info__buttonBooked {
            width: 350px;
            height: 52px;
            background-color: white;
            color: black;
            border: 1px solid #BFC4C9;
            border-radius: 30px;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.2px;
            line-height: 150%;
            text-transform: uppercase;
            margin-bottom: 62px;
        }

        .info__about {
            font-weight: 700;
            letter-spacing: 0.1px;
            font-size: 18px;
            line-height: 28px;
            color: #363636;
        }

        .info__text {
            font-weight: 400;
            font-size: 16px;
            color: #363636;
            line-height: 24px;
        }

        @media (max-width:1000px) {
            .info__about {
                padding-bottom: 32px;
            }
        }

        @media (max-width:700px) {
            .info__title {
                font-weight: 700;
                letter-spacing: 0.1px;
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 8px;
                text-align: center;
            }

            .info__author {
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
            }

            .info__button {
                width: 288px;
                margin-bottom: 62px;
            }

            .info__buttonBusy {
                width: 288px;
                margin-bottom: 62px;
            }

            .info__buttonBooked {
                width: 288px;
                margin-bottom: 62px;
            }

            .info__about {
                font-weight: 700;
                letter-spacing: 0.1px;
                font-size: 18px;
                line-height: 28px;
                color: #363636;
            }

            .info__text {
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
            }

            .info__subtext {
                padding-top: 0;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}


@media (max-width:1000px) {
    .container {
        padding: 0px 64px;
        flex-direction: column;
    }
}

@media (max-width:700px) {
    .container {
        padding: 0px 16px;
    }
}

// .img {
//     width: 455px;
// }

// .info {
//     max-width: 645px;
//     padding-left: 30px;
// }

// .info__title {
//     width: 100%;
//     letter-spacing: 0.1px;
//     font-weight: 700;
//     font-size: 32px;
//     line-height: 40px;
//     color: #363636;
//     margin-bottom: 24px;
// }

// .info__author {
//     font-weight: 700;
//     letter-spacing: 0.1px;
//     font-size: 18px;
//     line-height: 28px;
//     margin-bottom: 32px;
//     color: #A7A7A7;
// }

// .info__button {
//     width: 350px;
//     height: 52px;
//     background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
//     border-radius: 30px;
//     border: none;
//     color: white;
//     font-weight: 600;
//     font-size: 16px;
//     letter-spacing: 0.2px;
//     line-height: 150%;
//     text-transform: uppercase;
//     margin-bottom: 62px;
// }

// .info__buttonBusy {
//     background: #F9F9FA;
//     border: 1px solid #BFC4C9;
//     border-radius: 30px;
//     color: #A7A7A7;
//     width: 350px;
//     height: 52px;
//     font-weight: 600;
//     font-size: 16px;
//     letter-spacing: 0.2px;
//     line-height: 150%;
//     text-transform: uppercase;
//     margin-bottom: 62px;
// }

// .info__buttonBooked {
//     width: 350px;
//     height: 52px;
//     background-color: white;
//     color: black;
//     border: 1px solid #BFC4C9;
//     border-radius: 30px;
//     font-weight: 600;
//     font-size: 16px;
//     letter-spacing: 0.2px;
//     line-height: 150%;
//     text-transform: uppercase;
//     margin-bottom: 62px;
// }

// .info__about {
//     font-weight: 700;
//     letter-spacing: 0.1px;
//     font-size: 18px;
//     line-height: 28px;
//     color: #363636;
// }

// .info__text {
//     font-weight: 400;
//     font-size: 16px;
//     color: #363636;
//     line-height: 24px;
// }



// @media (max-width:1000px) {
//     .container {
//         padding: 0px 64px;
//         flex-direction: column;
//     }

//     .info__about {
//         padding-bottom: 32px;
//     }
// }

// @media (max-width:700px) {
//     // .container {
//     //     padding: 0px 16px;
//     // }

//     .info {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         padding-top: 16px;
//         padding-left: 0;
//     }

//     .info__title {
//         font-weight: 700;
//         letter-spacing: 0.1px;
//         font-size: 18px;
//         line-height: 28px;
//         margin-bottom: 8px;
//         text-align: center;
//     }

//     .info__author {
//         font-weight: 400;
//         font-size: 12px;
//         line-height: 18px;
//     }

//     .info__button {
//         width: 288px;
//         margin-bottom: 62px;
//     }

//     .info__buttonBusy {
//         width: 288px;
//         margin-bottom: 62px;
//     }

//     .info__buttonBooked {
//         width: 288px;
//         margin-bottom: 62px;
//     }

//     .info__about {
//         font-weight: 700;
//         letter-spacing: 0.1px;
//         font-size: 18px;
//         line-height: 28px;
//         color: #363636;
//     }

//     .info__text {
//         font-weight: 400;
//         font-size: 12px;
//         line-height: 18px;
//     }

//     .info__subtext {
//         padding-top: 0;
//         font-weight: 400;
//         font-size: 12px;
//         line-height: 18px;
//     }
// }