.container {
    max-width: 1110px;
    margin: auto;
    padding: 0px 15px;

    .container__title {
        font-weight: 700;
        letter-spacing: 0.1px;
        font-size: 18px;
        line-height: 28px;
    }

    .container__hr {
        border: 1px solid #EBEBEB;
        width: 350px;
        margin-left: 0;
        margin: 16px 0px 16px;
    }

    .columns {
        display: flex;
        justify-content: space-between;

        .columnsOne {
            width: 330px;

            .columnsBox {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;

                .one__title {
                    font-weight: 600;
                    letter-spacing: 0.1px;
                    font-size: 16px;
                    line-height: 24px;
                    color: #A7A7A7;
                }

                .one__subtitle {
                    width: 140px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #363636;
                }

                @media (max-width:700px) {
                    .one__title {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 16px;
                    }

                    .one__subtitle {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }

        .columnsTwo {
            width: 635px;

            .columnsBox {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;

                .two__title {
                    font-weight: 600;
                    letter-spacing: 0.1px;
                    font-size: 16px;
                    line-height: 24px;
                    color: #A7A7A7;
                }

                .two__subtitle {
                    width: 455px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #363636;
                }

                @media (max-width:1000px) {
                    .two__subtitle {
                        width: 190px;
                        padding-left: 34px;
                    }
                }

                @media (max-width:700px) {
                    .two__title {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 16px;
                    }

                    .two__subtitle {
                        width: 140px;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        padding-left: 0;
                    }
                }
            }
        }

        @media (max-width:1000px) {
            .columnsOne {
                max-width: 305px;
            }

            .columnsTwo {
                max-width: 305px;
            }
        }

        @media (max-width:700px) {
            .columnsOne {
                width: 100%;
            }

            .columnsTwo {
                width: 100%;
            }
        }
    }

    @media (max-width:700px) {
        .container__hr {
            border: 1px solid #F9F9FA;
            width: auto;
        }
    }

    @media (max-width:520px) {
        .columns {
            flex-direction: column;
        }
    }
}


@media (max-width:1000px) {
    .container {
        padding: 0px 64px;
    }
}

@media (max-width:700px) {
    .container {
        padding: 0px 16px;
    }
}