.container {
    display: flex;
    max-width: 1110px;
    margin: auto;
    background-color: white;
    justify-content: center;
    margin: 47px auto 62px auto;

    .colum {
        display: flex;
        flex-direction: column;
        max-width: 825px;
        color: #363636;
        padding-left: 30px;

        .colum__title {
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
        }

        .colum__subtitle {
            padding-top: 32px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #363636;
        }

        .colum__text {
            padding-top: 16px;
            padding-left: 30px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #363636;
        }

        .colum__subText {
            padding-top: 16px;
            padding-left: 60px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #363636;
        }

        .colum__verySubText {
            padding-top: 16px;
            padding-left: 90px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #363636;
        }

        @media(max-width:540px) {
            .colum__title {
                font-size: 18px;
                line-height: 28px;
            }

            .colum__text {
                font-size: 15px;
                line-height: 20px;
            }

            .colum__subText {
                font-size: 15px;
                line-height: 20px;
            }

            .colum__verySubText {
                font-size: 15px;
                line-height: 20px;
            }
        }
    }

    @media (max-width:1000px) {
        .colum {
            padding-left: 0;
        }
    }
}

@media (max-width:1000px) {
    .container {
        padding: 30px 64px 62px 64px;
    }
}

@media (max-width:540px) {
    .container {
        padding: 24px 16px 24px 16px;
        margin: 0;
    }
}