.loader {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(54, 54, 54, 0.3);
    backdrop-filter: blur(10px);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loader__item {
    animation: load3 1.4s infinite linear;
}


@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}