.container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    .search {
        display: flex;

        .searchBox {
            display: flex;
            box-shadow: 0px 2px 4px rgb(191 196 201 / 20%), 0px 3px 4px rgb(191 196 201 / 18%), 0px 1px 5px rgb(191 196 201 / 24%);
            border-radius: 15px;
            margin-right: 15px;

            .searchBox__img {
                width: 16px;
                margin: 0px 11px;
            }

            .searchBox__write {
                height: 40px;
                border-radius: 15px;
                background: #FFFFFF;
                width: 300px;
                outline: none;
                border: none;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0.1px;
                color: #A7A7A7;
                caret-color: #F83600;
            }

            .searchBox__exit {
                position: absolute;
                left: -1000%;
            }

            .searchBox__sort {
                height: 40px;
                background: #FFFFFF;
                border-radius: 15px;
                border: 0px;
                width: 100px;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0.1px;
                color: #A7A7A7;
                text-align: start;
            }

            @media (max-width:1000px) {
                .searchBox__write {
                    width: 235px;
                }

                .hidden {
                    position: absolute;
                    left: -1000%;
                }

                .visible {
                    display: flex;
                    justify-content: space-between;
                    left: 0;
                    position: relative;
                }
            }

            @media (max-width:760px) {

                .searchBox__write {
                    padding-left: 16px;
                }

                .searchBox__exit {
                    position: relative;
                    left: 0;
                    display: block;
                    padding-right: 16px;
                }

                .hidden {
                    position: absolute;
                    left: -1000%;
                }

                .visible {
                    display: flex;
                    justify-content: space-between;
                    left: 0;
                    position: relative;
                }
            }
        }

        .searchSmallBox {
            position: absolute;
            left: -1000%;

            @media (max-width:760px) {
                .searchSmallBox__img {
                    width: 25px;
                    height: 25px;
                    display: block;
                }

                .hidden {
                    position: absolute;
                    left: -1000%;
                }

                .visible {
                    display: flex;
                    justify-content: space-between;
                    left: 0;
                    position: relative;
                }
            }
        }

        @media (max-width:760px) {
            .searchBox {
                display: none;
                width: 100%;
            }

            .searchSmallBox {
                position: relative;
                left: 0;
                width: 45px;
                height: 45px;
                box-shadow: 0px 2px 4px rgb(191 196 201 / 20%), 0px 3px 4px rgb(191 196 201 / 18%), 0px 1px 5px rgb(191 196 201 / 24%);
                border-radius: 50%;
                margin-right: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .hidden {
                position: absolute;
                left: -1000%;
            }

            .visible {
                display: flex;
                justify-content: space-between;
                left: 0;
                position: relative;
            }
        }
    }

    .location {
        display: flex;

        .locationBox {
            width: 45px;
            height: 45px;
            box-shadow: 0px 2px 4px rgb(191 196 201 / 20%), 0px 3px 4px rgb(191 196 201 / 18%), 0px 1px 5px rgb(191 196 201 / 24%);
            border-radius: 50%;
            margin-right: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #F85D09;
            cursor: pointer;

            .locationBox__img {
                width: 25px;
                height: 25px;
                display: block;
            }
        }

        .locationBoxInactive {
            width: 45px;
            height: 45px;
            box-shadow: 0px 2px 4px rgb(191 196 201 / 20%), 0px 3px 4px rgb(191 196 201 / 18%), 0px 1px 5px rgb(191 196 201 / 24%);
            border-radius: 50%;
            margin-right: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FFFFFF;
            cursor: pointer;

            .locationBox__img {
                width: 25px;
                height: 25px;
                display: block;
            }
        }
    }

    @media (max-width:760px) {
        .search {
            display: flex;
            align-items: center;
            width: 100%;
        }

        .hidden {
            position: absolute;
            left: -1000%;
        }

        .visible {
            display: flex;
            justify-content: space-between;
            left: 0;
            position: relative;
        }
    }
}


.hidden {
    position: absolute;
    left: -1000%;
}

.visible {
    display: flex;
    justify-content: space-between;
    left: 0;
    position: relative;
}