.form__input {
    height: 80px;
    margin-bottom: 20px;

    .input {
        display: block;
        width: 100%;
        background: rgba(0, 0, 0, 0.06);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 56px;
        padding-left: 10px;
        border: none;
        outline: none;
        padding-top: 10px;
        z-index: 1;
        position: relative;
    }

    .checkmark {
        position: absolute;
        right: 18%;
        top: 32%;
    }

    .placeholder {
        transform: scale(1.2);
        position: absolute;
        margin-top: -37px;
        margin-left: 10px;
        transition: 0.5s;
    }

    .text {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #A7A7A7;
        border-top: 1px solid #BFC4C9;
        padding-bottom: 18px;
    }

    .errorFull {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        border-top: 2px solid #F42C4F;
        padding-bottom: 18px;
        color: #F42C4F;
    }

    .error {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        border-top: 2px solid #F42C4F;
        padding-bottom: 18px;
        color: #A7A7A7;
    }

    .input:focus~.placeholder,
    .input:not(:focus):valid~.placeholder {
        transform: scale(0.9);
        margin-top: -53px;
    }

    .Eye {
        position: absolute;
        right: 13%;
        top: 32%;
        z-index: 2;
    }

    .Text {
        color: #A7A7A7;
    }

    .TextRed {
        color: #F42C4F;
    }
}