.header {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 18px;
    line-height: 28px;
    color: #363636;
    display: flex;
    align-items: center;
}

.number {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #A7A7A7;
    letter-spacing: 0.1px;
    padding-left: 6px;
}

.hidden {
    position: absolute;
    left: -1000%;
}

.visible {
    visibility: hidden;
}

.boxArrow {
    height: 30px;
    width: 30px;
    margin-left: 120px;
    position: absolute;
    cursor: pointer;
}

.boxArrow::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 2px;
    background: #363636;
    left: 10px;
    top: 14px;
    transform: rotate(121deg);
    transition: all 0.3s ease 0s;
}

.boxArrow.active::after {
    transform: rotate(54deg);
}

.arrow {
    position: absolute;
    background: #363636;
    width: 14px;
    height: 2px;
    top: 14px;
    left: 3px;
    transform: rotate(237deg);
    transition: all 0.3s ease 0s;
}

.arrow.active {
    transform: rotate(120deg);
}

.hr {
    border: 1px solid #EBEBEB;
    max-width: 350px;
    margin: 16px 0px;
}

.answer {
    max-width: 730px;
    padding-bottom: 30px;
}

.title {
    display: flex;
    align-items: center;
    padding-bottom: 22px;
}

.title__name {
    padding: 0px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #727272;
}

.title__date {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #727272;
}

.rating {
    display: flex;
    width: 170px;
    justify-content: space-between;
    padding-bottom: 20px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #363636;
    padding-bottom: 30px;
}

@media (max-width:700px) {
    .header {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #363636;
    }

    .hr {
        border: 1px solid #EBEBEB;
        max-width: 350px;
        margin: 16px 0px;
    }

    .title {
        flex-wrap: wrap;
    }

    .title__name {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
    }

    .title__date {
        padding-left: 55px;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
    }

    .text {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.1px;
    }

    .answer {
        padding-bottom: 15px;
    }
}