.container {
    display: flex;
    max-width: 1110px;
    margin: auto;
    background-color: white;
    margin: 47px auto 62px auto;
    min-height: 65vh;
}

.content {
    max-width: 825px;
    padding-left: 20px;
}

@media (max-width:1000px) {
    .container {
        justify-content: center;
        padding: 0px 64px 0px 64px;
    }

    .content {
        padding-left: 0;
    }
}

@media (max-width:540px) {
    .container {
        padding: 0px 16px 0px 16px;
    }

    .content {
        padding-left: 0;
    }
}